<h1><%= title('Trackings') -%></h1>
<div id="trackings">
  <div class="infobox">
    <h2>Edit trackings</h2>
    <%- if @trackings.empty? -%>
    <p>No trackings. You have not sent any URLs from any channel.</p>
    <%- else -%>
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Channel</th>
          <th>Network</th>
          <th>Tracking status</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => @trackings %>
      </tbody>
    </table>
    <%- end -%>
  </div>
  <p><%= link_to "Back to profile page", @trackable %></p>
</div>